@import "./normalize.css";
body{
  padding: 0;
  margin: 0;
}
/* root 获取根元素  tintColor 背景颜色*/
:root{
  --color-text:#666;
  --color-high-text:#ff5777;
  --color-tint:#ff8189;
  --color-background:#fff;
  --font-size:14px;
  --line-height:1.5;
  --large-size:50px;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--color-background);
  color:var(--color-text);
  width: 100vw;
}
a{
  text-decoration: none;
  color: var(--color-text);
}
.clear-fix::after{
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix{
  zoom: 1;
}
.left{
  float: left;
}
.right{
  float:right;
}